---
title: Clientside form validation
---
<main id="content" role="main">
    <h1 class="heading-xlarge">
      <span class="heading-secondary">{{component.categories.primary}} / {{component.categories.secondary}}</span>
      {{component.name}}
    </h1>

    {{#capture 'form'}}
      <form method="GET" id="example_form" data-clientside-validation="example_form_validation">
        <div class="form-group">
          <label class="form-label" for="full-name">Full name</label>
          <input class="form-control" type="text" id="full-name" name="full-name">
        </div>

        <div class="form-group">
          <label class="form-label" for="another-field">Another field</label>
          <input class="form-control" type="text" id="another-field" name="another-field">
          <span class="form-hint">This field has no validation routines</span>
        </div>

        <div class="form-group">
          <label class="form-label" for="another-required-field">Another requried field</label>
          <input class="form-control" type="text" id="another-required-field" name="another-required-field">
          <span class="form-hint">This field is required and has a custom error message</span>
        </div>

        <input type="submit" class="button" value="Submit">
      </form>

      <script type="application/json" id="example_form_validation">
        {
          "full-name": {
            "presence": true
          },
          "another-required-field": {
            "presence": {
              "message": "must be filled in"
            }
          }
        }
      </script>
    {{/capture}}

    {{{form}}}

    <hr>

    {{#markdown}}{{{component.readme}}}{{/markdown}}

    <pre class="language-markup"><code>{{#htmlencode}}{{{form}}}{{/htmlencode}}</code></pre>


</main>
