---
title: Demo
icons:
  - important
  - print
---
<main id="content" role="main">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">{{component.categories.primary}} / {{component.categories.secondary}}</span>
    {{component.name}}
  </h1>

  {{#markdown}}{{component.readme}}{{/markdown}}

  <hr>

  {{#each icons}}
    <div class="example">
      <span class="icon icon-{{this}}"></span><br>

      <pre class="language-markup"><code>{{#htmlencode}}<span class="icon icon-{{this}}"></span>{{/htmlencode}}</code></pre>
    </div>
  {{/each}}
</main>
