---
title: Demo
govuk-icons:
  - calendar
  - file-download
  - important
  - information
  - locator
  - pointer
  - pointer-black
  - search
landregistry-icons:
  - print
---
<main id="content" role="main">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">{{component.categories.primary}} / {{component.categories.secondary}}</span>
    {{component.name}}
  </h1>

  {{#markdown}}{{component.readme}}{{/markdown}}

  <hr>

  <h2 class="heading-medium">Govuk icons</h2>
  <div class="example" style="background-color:#eee">
    {{#each govuk-icons}}
      <span class="icon icon-{{this}}"></span>&nbsp;&nbsp;&nbsp;<code class="font-xsmall">{{#htmlencode}}<span class="icon icon-{{this}}"></span>{{/htmlencode}}</code><br><br>
    {{/each}}
  </div>

  <h2 class="heading-medium">Landregistry icons</h2>
  <div class="example" style="background-color:#eee">
    {{#each landregistry-icons}}
      <span class="icon icon-{{this}}"></span>&nbsp;&nbsp;&nbsp;<code class="font-xsmall">{{#htmlencode}}<span class="icon icon-{{this}}"></span>{{/htmlencode}}</code><br><br>
    {{/each}}
  </div>
</main>
