{{#if simple}}
  <div class="address">
    {{#each simple}}
      <span>{{this}}</span>
    {{/each}}
  </div>
{{else}}

  {{#if person}}
    <div itemscope itemtype="http://schema.org/Person">
      <span itemprop="name" class="bold-small">{{person}}</span>
  {{/if}}

  {{#if organization}}
    <div itemscope itemtype="http://schema.org/Organization">
      <span itemprop="name" class="bold-small">{{organization}}</span>
  {{/if}}

      <div class="address"{{#if name}} itemprop="address"{{/if}} itemscope itemtype="http://schema.org/PostalAddress">
        {{#with streetAddress}}<span itemprop="streetAddress">{{this}}</span>{{/with}}
        {{#with addressLocality}}<span itemprop="addressLocality">{{this}}</span>{{/with}}
        {{#with addressRegion}}<span itemprop="addressRegion">{{this}}</span>{{/with}}
        {{#with postalCode}}<span itemprop="postalCode">{{this}}</span>{{/with}}
      </div>

  {{#if person}}
    </div>
  {{/if}}

  {{#if organization}}
    </div>
  {{/if}}
{{/if}}
