---
title: Demo
buttons:
  -
    value: Save and continue
  -
    value: Start now
    classes: button-start
  -
    value: Save and continue
    disabled: true
---
<main id="content" role="main">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">{{component.categories.primary}} / {{component.categories.secondary}}</span>
    {{component.name}}
  </h1>

  {{#markdown}}{{component.readme}}{{/markdown}}

  <hr>

  {{#each buttons}}
    <input class="button{{#if classes}} {{classes}}{{/if}}"{{#if disabled}} disabled=disabled{{/if}} type="submit" value="{{value}}">

    <pre class="language-markup">
      <code>{{#htmlencode}}<input class="button{{#if classes}} {{classes}}{{/if}}"{{#if disabled}} disabled=disabled{{/if}} type="submit" value="{{value}}">{{/htmlencode}}</code>
    </pre>
  {{/each}}
</main>
