{{> elements/govuk/phase-banner }}

<div class="grid-row printhidden">
  <div class="column-two-thirds mobile-column-one-half">
    {{> elements/land-registry/back-link}}
  </div>

  <div class="column-third mobile-column-one-half">
    {{> elements/land-registry/language-switcher }}
  </div>
</div>

<h1 class="heading-large spacing-top-single">Summary of title {{data.title_number}}</h1>

<p class="font-xsmall">This title was last changed on <time datetime="{{last_changed_datetime}}">{{last_changed_date}} at {{last_changed_time}}</time></p>

<div class="grid-row column-flip spacing-top-single">
  <div class="column-one-third tablet-column-one-third spacing-bottom-single">
    <div class="map polygon" id="map"></div>
    <p class="font-xsmall">This map shows the property’s rough extent and location, <strong class="bold">not legal boundaries</strong>.</p>
  </div>

  <div class="column-two-thirds tablet-column-two-thirds">

    <dl class="definition-tabular">

      {{#is_caution_title}}
        <dt class="bold-small">Caution</dt>
        <dd>
          <details class="font-xsmall">
            <summary class="bold-small">What does Caution mean?</summary>
            <div class="panel">
              <p>This property hasn’t been registered yet. You can’t find out who owns it from this service. </p>
              <p>Someone other than the owner (known as the ‘cautioner’) has registered a right or interest in the property. They will be told if anyone tries to register it, and can object to the registration going ahead until their claim has been looked at. You can get their name and address from this service.</p>
              <p>Registration has only been compulsory since the 1990s. Property that hasn’t changed hands since then may not be registered.</p>
            </div>
          </details>
        </dd>
      {{/is_caution_title}}

      {{#with address}}
        <dt>Address</dt>
        <dd>
          <div class="address bold-medium">
            {{#each this}}
              <span>{{this}}</span>
            {{/each}}
          </div>

          {{#with ../property_notes }}
            <ul>
              {{#each this}}
                <li class="spacing-top-single">{{ this }}</li>
              {{/each}}
            </ul>
          {{/with}}
        </dd>
      {{/with}}

      {{#if is_caution_title}}
        <dt>Cautioner{{#ifCond proprietors.length '>' 1}}s{{/ifCond}}</dt>
      {{else}}

        {{#ifCond tenure '==' 'Freehold'}}
          <dt>Owner{{#ifCond proprietors.length '>' 1}}s{{/ifCond}}</dt>
        {{/ifCond}}

        {{#ifCond tenure '==' 'Leasehold'}}
          <dt>Leaseholder{{#ifCond proprietors.length '>' 1}}s{{/ifCond}}</dt>
        {{/ifCond}}

      {{/if}}

      {{#each proprietors}}
        <dd{{#unless @last}} class="spacing-bottom-single"{{/unless}}>
          <h2 class="bold">{{name}}</h2>

          {{#if co_reg_no }}
            <h3 class="visuallyhidden">Company registration number</h3>
            <div>{{ co_reg_no }}</div>

            {{#if company_location }}
              <h3 class="visuallyhidden">Company location</h3>
              <div>{{ company_location }}</div>
            {{/if}}
          {{/if}}

          <h3 class="visuallyhidden">Addresses</h3>
          {{#each addresses}}
            <div class="address spacing-top-half">
              {{#each this}}
                <span>{{this}}</span>
              {{/each}}
            </div>
          {{/each}}
        </dd>
      {{/each}}

      {{#with lenders}}
        <dt>Lender{{#ifCond this.length '>' 1}}s{{/ifCond}}</dt>
        {{#each this}}
          <dd{{#unless @last}} class="spacing-bottom-single"{{/unless}}>
            <span class="bold">{{name}}</span>

            {{#if co_reg_no }}
              <span>{{ co_reg_no }}</span>

              {{#if company_location }}
                <span>{{ company_location }}</span>
              {{/if}}
            {{/if}}

            {{#each addresses}}
              <div class="address spacing-bottom-half">
                {{#each this}}
                  <span>{{this}}</span>
                {{/each}}
              </div>
            {{/each}}
          </dd>
        {{/each}}
      {{/with}}

      {{#with tenure}}
        <dt>Tenure type</dt>
        <dd class="bold-small">{{this}}</dd>
      {{/with}}

      {{#with ppi_data}}
        <dt>Price paid</dt>
        <dd class="bold-small">{{this}}</dd>
      {{/with}}

      {{#with lease_term}}
        <dt>Lease length</dt>
        <dd class="bold-small">{{this}}</dd>
      {{/with}}

    </dl>

    <p class="spacing-top-single">This information can change if we receive an application. This service is unable to tell you whether or not there is an application pending with the Land Registry.</p>

    <div class="printhidden">

      <div class="govuk-box-highlight">
        <p><strong class="bold">You'll only be able to view this information once.</strong><br>If you want to keep a copy you can print it out</p>

        {{> elements/land-registry/print-button }}
      </div>

      <h2 class="heading-medium collapse-top">What did you think of this service?</h2>
      <p><a rel="external" href="#">Please give us your feedback</a> (takes 30 seconds). <br>This is a new service and your feedback will help us improve it.</p>

    </div>

  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <hr>

    {{#with vat-receipt}}
      {{> elements/land-registry/vat-receipt }}
    {{/with}}

    <div class="panel panel-border-narrow spacing-top-single">
      <p>If you have any problems with your purchase, you can contact Land Registry using the <a href="http://landregistry.custhelp.com/app/contactus_general/">general enquiry contact form</a> or call <a class="bold" href="tel:+443000060411">0300 006 0411</a>.</p>
    </div>

    <hr>

    <div class="printhidden">
      <h2 class="heading-medium">What next</h2>
      <ul class="list list-bullet">
        <li><a href="#">Search again</a></li>
        <li><a href="https://gov.uk">Return to GOV.UK</a></li>
      </ul>
    </div>

  </div>

</div>



<script>
window.onload = function() {

  var indexData = {{#printJson indexPolygon}}{{/printJson}};

    // Define coordinate system using PROJ4 standards
  var projection_name = 'EPSG:27700'
  // from: http://epsg.io/27700-5622 - TODO: research which transformation we should use
  var projection_def = '+proj=tmerc +lat_0=49 +lon_0=-2 +k=0.9996012717 +x_0=400000 +y_0=-100000 +ellps=airy +towgs84=370.396,-108.938,435.682,0,0,0,0 +units=m +no_defs'

  new L.Proj.CRS(projection_name, projection_def,
    {
      resolutions: [2500, 1000, 500, 200, 100, 50, 25, 10, 5, 2.5, 1],
      bounds: L.bounds([1300000,0],[700000,0])
    }
  );

  // set up control and options
  var options = {
    continuousWorld: true,
    worldCopyJump: false,
    minZoom: 5,
    maxZoom: 19,
    // controls
    dragging: false,
    touchZoom: false,
    doubleClickZoom: false,
    scrollWheelZoom: false,
    boxZoom: false,
    keyboard: false,
    tap: false,
    zoomControl: true,
    attributionControl: true
  };

  // set up the map
  var map = new L.Map('map', options);

  // create the tile layer with correct attribution
  var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
  var osm = new L.TileLayer(osmUrl, {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  });
  map.addLayer(osm);

  //Add a scale control to the map
  L.control.scale().addTo(map);

  //Index stlye
  var indexStyle = {
    fillcolor: 'blue',
    fillOpacity: document.getElementById('map').classList.contains('polygon') ? 0.5 : 0,
    opacity: 0
  };

  //Create the index layer
  var indexGeoJson = L.Proj.geoJson(indexData, {
    style: indexStyle
  });

  indexGeoJson.addTo(map);

  //Center map view on geojson polygon
  var bounds = indexGeoJson.getBounds();

  if(!document.getElementById('map').classList.contains('polygon')) {
    L.marker(bounds.getCenter()).addTo(map);
  }

  map.fitBounds(bounds, {maxZoom: 18, animate: false});

}

</script>
