---
title: Warning panels
---
<main id="content" role="main">
  <h1 class="heading-xlarge">
    <span class="heading-secondary">{{component.categories.primary}} / {{component.categories.secondary}}</span>
    {{component.name}}
  </h1>

  {{#capture 'demo'}}
    <div class="warning media">
      <div class="media-item">
        <i class="icon icon-important">
          <span class="visuallyhidden">Warning</span>
        </i>
      </div>

      <div class="media-body">
        <h2 class="heading-small spacing-bottom-flush">You'll only be able to view the information once</h2>
        <p class="spacing-top-flush">If you want to keep a copy you can print it out</p>
      </div>
    </div>
  {{/capture}}

  <div class="grid-row">
    <div class="column-two-thirds">
      {{{demo}}}
    </div>
  </div>

  <hr>

  <pre class="language-markup"><code>{{#htmlencode}}{{{demo}}}{{/htmlencode}}</code></pre>

</main>
