{{> elements/govuk/phase-banner }}

<div class="grid-row printhidden">
  <div class="column-two-thirds">
    {{> elements/land-registry/back-link }}
  </div>
</div>

{{#ifCond pageData.mode '==' 'confirm' }}
  <h1 class="heading-large">Confirm your purchase</h1>
{{else}}
  <h1 class="heading-large">About this property</h1>
{{/ifCond}}

<div class="grid-row spacing-top-half">

  <div class="column-two-thirds spacing-bottom-single">
    <dl class="definition-tabular definition-tabular-sectioned">

      {{#is_caution_title}}
        <dt class="bold-small">Caution</dt>
        <dd>
          <details class="font-xsmall">
            <summary class="bold-small">What does Caution mean?</summary>
            <div class="panel">
              <p>This property hasn’t been registered yet. You can’t find out who owns it from this service. </p>
              <p>Someone other than the owner (known as the ‘cautioner’) has registered a right or interest in the property. They will be told if anyone tries to register it, and can object to the registration going ahead until their claim has been looked at. You can get their name and address from this service.</p>
              <p>Registration has only been compulsory since the 1990s. Property that hasn’t changed hands since then may not be registered.</p>
            </div>
          </details>
        </dd>
      {{/is_caution_title}}

      {{#with address}}
        <dt>Address</dt>
        <dd class="bold-medium">
          <div class="address">
            {{#each this}}
              <span>{{this}}</span>
            {{/each}}
          </div>
        </dd>
      {{/with}}

      <dt>Ownership type</dt>
      <dd>
        <strong class="bold">{{tenure}}</strong>
        <a class="split-detail-trigger font-xsmall" href="#what-is-tenure">What does this mean?</a>

        <div class="split-detail-contents" id="what-is-tenure">
          <div class="panel panel-border-narrow font-xsmall">
            {{#ifCond tenure '==' 'Leasehold'}}
              <p>You only own a leasehold property for a fixed period of time. You'll have a legal agreement with the landlord (sometimes known as the ‘freeholder’) called a ‘lease’. This tells you how many years you’ll own the property.</p>
              <p>Most flats are leasehold. Houses can be leasehold too and usually are if they’re bought through a shared ownership scheme.</p>
              <p>The leasehold and freehold are registered separately with the Land Registry. Each has its own title documents.</p>
              <p><b class="bold">You are buying a summary of the leasehold owner, not the freehold.</b></p>

              <a rel="external" href="https://www.gov.uk/leasehold-property/overview">More about Leasehold on GOV.UK</a>
            {{/ifCond}}

            {{#ifCond tenure '==' 'Freehold'}}
              <p>You own a freehold building and land outright. It is yours until you sell it or give it away.</p>
              <p>Most houses are freehold. Most flats are leasehold. That means someone else owns the freehold for the building the flat is in.</p>
              <p><b class="bold">If you want to know who owns a particular flat, you probably need the leasehold instead.</b></p>
              <p>Houses can also be leasehold and usually are if they’re bought through a shared ownership scheme.</p>
            {{/ifCond}}
          </div>
        </div>

        <p class="font-xsmall">A property can have both a freehold and a leasehold title. To get a different tenure for this address, <a href="#">go back</a> and select the one you need.</p>
      </dd>

      {{#ifCond pageData.mode '==' 'confirm' }}
        <dt>Title number</dt>
        <dd class="bold-small">{{data.title_number}}</dd>
      {{/ifCond}}

    </dl>
  </div>

  <div class="column-one-third spacing-bottom-single">
    <div class="fpi-map-container">
      <div class="fpi-map-outer">
        <div class="map fpi-map" id="map" data-map-json="map-data">
          <p>The map relies on JavaScript being enabled in your browser.</p>
        </div>
        <script type="application/json" id="map-data">
          {{#printJson indexPolygon}}{{/printJson}}
        </script>
      </div>
    </div>
  </div>
</div>

<div class="grid-row">

  <div class="column-two-thirds tablet-column-two-thirds">
    <div class="text">
      {{#ifCond pageData.mode '==' 'confirm' }}
        <h2 class="heading-medium spacing-top-flush">You'll receive:</h2>

        <ul class="list list-bullet">

          {{#if is_caution_title}}
            <li>the cautioner's name and address <strong class="bold">(the owner isn't available from this service)</strong></li>
          {{else}}

            <li>owners' names and addresses</li>
            <li>price paid (if available)</li>
            <li>details of any mortgage lenders</li>

          {{/if}}
        </ul>
      {{else}}
        <h2 class="heading-medium spacing-top-flush">Pay &pound;3 to find out:</h2>
        <ul class="list list-bullet">

          {{#if is_caution_title}}
            <li>the cautioner's name and address <strong class="bold">(the owner isn't available from this service)</strong></li>
          {{else}}

            <li>who owns this property (name and address)</li>
            <li>how much they paid (if available)</li>
            <li>if there is a mortgage - the name and address of the lender</li>

          {{/if}}

          <li>title number (the unique reference number)</li>
        </ul>
      {{/ifCond}}
    </div>
  </div>
</div>

<div class="grid-row spacing-top-double">
  <div class="column-two-thirds">
    {{#ifCond pageData.mode '==' 'about-signed-out' }}

      <h2 class="heading-medium spacing-top-flush">How to buy this information</h2>

      <ol class="list">
        <li>
          <span class="circle circle-step-large spacing-right-half">1</span>
          <strong class="bold">create an account</strong>
        </li>
        <li>
          <span class="circle circle-step-large spacing-right-half">2</span>
          <strong class="bold">pay online</strong> by debit or credit card
        </li>
      </ol>

      <p>This information will be displayed on-screen.</p>

      <div class="panel panel-border-narrow">
        <p>If you've already used this service and created an account, sign in with the email address you used before.</p>
      </div>

      <p class="spacing-top-double">
        <a class="button spacing-bottom-half" href="#">Create a new account</a><br>
        <strong class="bold">or</strong><br>
        <a class="button spacing-top-half" href="#">Sign in with an existing account</a>
      </p>

      {{#with bottomBackButton }}
        {{> elements/land-registry/back-link}}
      {{/with}}

    {{else}}

      <div class="island spacing-bottom-single">
        <form action="somewhere" method="POST" novalidate data-clientside-validation="pay_form_validation" data-clientside-validation-no-summary>
          <fieldset>
            <legend class="heading-medium">How to pay</legend>

            <p>This information costs &pound;3. Payment will be taken by WorldPay on the Land Registry's behalf.</p>

            <div class="media">
              <div class="media-item">
                <span class="icon icon-important">
                  <span class="visuallyhidden">Warning</span>
                </span>
              </div>

              <div class="media-body">
                <p class="heading-small spacing-bottom-flush spacing-top-flush">Important: make sure this is the property you want.</p>
                <p class="spacing-top-flush">You can't cancel once you've paid and the information is displayed.</p>
              </div>
            </div>

            <div class="form-group spacing-top-single">
              <label class="block-label" for="terms">
                <input id="terms" name="terms" type="checkbox" value="terms">
                I have read and agree to the <a href="/terms-and-conditions">terms of use</a>
              </label>
            </div>

            <div class="spacing-bottom-single">
              <input type="submit" class="button" value="Pay now">
            </div>

          </fieldset>
        </form>

        <script type="application/json" id="pay_form_validation">
          {
            "terms": {
              "presence": {
                "message": "You must agree to the terms of use before continuing"
              }
            }
          }
        </script>

        {{#with bottomBackButton }}
          {{> elements/land-registry/back-link}}
        {{/with}}
      </div>
    {{/ifCond}}
  </div>

  {{#ifCond pageData.mode '==' 'confirm' }}
    <div class="column-one-third">
      <aside class="supplementary-panel">
        <h2 class="heading-medium">Need help with this service?</h2>
        <p>Call Land Registry on 0300 006 0411 to report a problem, or if you're stuck and need help.</p>
      </aside>
    </div>
  {{/ifCond}}

</div>
