<div class="vat-receipt page-break-before font-xsmall">
  <h2 class="heading-medium">VAT receipt</h2>

  <div class="grid-row">
    <div class="column-two-thirds mobile-column-one-half">
      <dl class="definition-tabular definition-tabular-1-2">

        <dt class="bold">Date</dt>
        <dd>{{date}}</dd>

        <dt class="bold">Invoice number</dt>
        <dd>{{invoice-number}}</dd>

        <dt class="bold">Item</dt>
        <dd>{{items}}</dd>

        <dt class="bold">Net amount</dt>
        <dd>{{net-value}}</dd>

        <dt class="bold">VAT @ 20%</dt>
        <dd>{{vat}}</dd>

        <dt class="bold">Total inc VAT</dt>
        <dd>{{total}}</dd>
      </dl>
    </div>

    <div class="column-one-third mobile-column-one-half">
      {{#with address}}{{> elements/land-registry/address }}{{/with}}
      <p class="spacing-top-single-third"><strong class="bold">VAT registration number:</strong><br> {{vat-registration-number}}</p>
    </div>
  </div>
</div>
