<div class="teaser teaser-register">
  <h2 class="heading-small">
    {{#if title_number }}<a href="#">{{/if}}
      {{#each propertyAddress}}{{this}}{{#if @last}}{{else}}, {{/if}}{{/each}}
    {{#if title_number }}</a>{{/if}}
  </h2>

  {{#if title_number }}
  <p class="font-xsmall spacing-bottom-flush">Title number: {{title_number}}</p>
  <b class="bold-xsmall">{{tenureType}}</b>
  {{else}}

  <details class="font-xsmall">
    <summary>No title information found</summary>

    <p>This may be because:</p>
    <span class="phase-tag-beta">BETA</span>

    <ul class="list-bullet spacing-top-half spacing-bottom-half">
      <li>The title details aren’t available through this new service. Try <a href="https://eservices.landregistry.gov.uk/wps/portal/Property_Search">searching for the property on the old Land Registry service</a> instead.</li>
      <li>The property isn’t registered yet. Registration has only been compulsory since the 1990s. If the property hasn’t changed hands since then it may not be registered.</li>
    </ul>
    <p>If you need additional help, you can call Land Registry on 0300 006 0411.</p>
  </details>

  {{/if}}

  {{#if is_caution_title}}
  <details class="font-xsmall">
    <summary>Caution against first registration</summary>

    <p>This property hasn’t been registered yet. You can’t find out who owns it from this service. </p>
    <p>Someone other than the owner (known as the ‘cautioner’) has registered a right or interest in the property. They will be told if anyone tries to register it, and can object to the registration going ahead until their claim has been looked at. You can get their name and address from this service.</p>
    <p>Registration has only been compulsory since the 1990s. Property that hasn’t changed hands since then may not be registered.</p>
  </details>
  {{/if}}
</div>
