<div class="teaser teaser-register spacing-bottom-single">
  <h2 class="heading-small">
    {{#if title_number }}<a href="#">{{/if}}
      {{#each propertyAddress}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}
    {{#if title_number }}</a>{{/if}}
  </h2>

  {{#if title_number }}
  <p class="font-xsmall spacing-bottom-flush">Title number: {{title_number}}</p>
  <b class="bold-xsmall">{{tenureType}}</b>
  {{else}}

  <p class="font-xsmall">No title information found <a class="split-detail-trigger" href="#no-title-information-found{{id}}">Why <span class="visuallyhidden">has title information </span>not<span class="visuallyhidden"> been found for {{#each propertyAddress}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</span>?</a></p>

  <div class="split-detail-contents font-xsmall" id="no-title-information-found{{id}}">
    <div class="panel panel-border-narrow">

      <p>This may be because:</p>

      <ul class="list-bullet">
        <li>This service is new, so some titles aren’t available here yet. Try  <a href="https://eservices.landregistry.gov.uk/www/wps/portal/!ut/p/b1/04_SjzS0MDc3NjeyNDDSj9CPykssy0xPLMnMz0vMAfGjzOKNjSxMDA1NjDwsjM3MDTxN3dyNDUNMjQ1MjPWDU_P0c6McFQGRbYf3/">searching on the Land Registry 'Find a Property' service</a> instead.</li>
        <li>The property isn’t registered yet. Registration has only been compulsory across England and Wales since the 1990s. If the property hasn’t changed hands since then it may not be registered.</li>

      </ul>
    </div>
  </div>

  {{/if}}

{{!--   {{#if is_caution_title}}
  <p class="font-xsmall"><strong class="bold">Caution against first registration</strong> <a class="split-detail-trigger" href="#whats-caution-against-first-registration{{id}}">What's this?</a></p>

  <div class="split-detail-contents font-xsmall" id="whats-caution-against-first-registration{{id}}">
    <div class="panel panel-border-narrow">
      <p>This property hasn’t been registered yet. You can’t find out who owns it from this service. </p>
      <p>Someone other than the owner (known as the ‘cautioner’) has registered a right or interest in the property. They will be told if anyone tries to register it, and can object to the registration going ahead until their claim has been looked at. You can get their name and address from this service.</p>
      <p>Registration has only been compulsory since the 1990s. Property that hasn’t changed hands since then may not be registered.</p>
    </div>
  </div>
  {{/if}} --}}
</div>
