<h2 class="heading-large">Land Registry pattern library</h2>
<a href="https://travis-ci.org/LandRegistry/land-registry-elements"><img src="https://travis-ci.org/LandRegistry/land-registry-elements.svg" alt="" /></a>
<p>This pattern library builds upon the foundations set out in <a href="http://govuk-elements.herokuapp.com/">http://govuk-elements.herokuapp.com/</a> to provide a set of Land Registry specific patterns.</p>
<p>These are of production quality and the intention is that the build output from this repository be used as the base for production frontends.</p>

<br><br>

<details class="readme">
  <summary>Readme</summary>
  <div class="panel panel-border-narrow">
    {{#markdown}}{{readme}}{{/markdown}}
  </div>
</details>

<hr>

<form action="/build" method="GET" class="component-build-form">

  <details>
    <summary>Download a build</summary>

    <div class="panel panel-indent-narrow">
      <p>Download a build containing the assets selected below.</p>
      <p>Note that ticking a component will automatically include dependencies of that component in the build even if it is not explicitly ticked here.</p>

      <div class="form-group">
        <input type="submit" class="button" value="Generate build" />
      </div>

      <div class="form-group">
        <label class="form-label" for="build-url-1">Build URL</label>
        <input class="form-control build-url" type="text" id="build-url-1">
        <p class="form-hint">Make GET requests to this URL in your build pipeline to return a tarball of assets (View <a href="https://github.com/LandRegistry/land-registry-elements-examples/">land-registry-elements-examples</a> for more examples of how to integrate into your build - this is just one of several options)</p>
        <p class="form-hint">Note: you may wish to include an <code>assetPath</code> parameter on the query string to match the URL where assets will be accessible in your application</p>
      </div>
    </div>
  </details>

  <h2 class="heading-large spacing-bottom-flush">Components</h2>

  <div class="form-group">
    {{#with components}}
      {{#each this}}
        <h3 class="heading-medium">{{@key}}</h3>

        {{#each this}}
          <h4 class="heading-small">{{@key}}</h4>
          <ul style="overflow:hidden">
            {{#each this}}
              <li style="float:left;width:33%;padding-right: 30px;margin-bottom: 15px;box-sizing: border-box">
                <label class="font-small" style="color:#666" for="{{id}}"><input id="{{id}}" type="checkbox" name="components[{{id}}]" />{{name}}</label>

                <ul class="list list-bullet">
                  {{#each variants}}
                    <li>
                      <a href="{{href}}">{{name}}</a>
                    </li>
                  {{/each}}
                </ul>
              </li>
            {{/each}}
          </ul>
        {{/each}}

        <hr>

      {{/each}}
    {{/with}}
  </div>

  <h2 class="heading-large spacing-bottom-flush">Deprecated components</h2>
  <p>The following components are deprecated. This could be due to them testing badly with users or other issues. Please see the individual documentation against each component for specific details.</p>
  <div class="form-group">
    {{#with deprecatedComponents}}
      {{#each this}}
        <h3 class="heading-medium">{{@key}}</h3>

        {{#each this}}
          <h4 class="heading-small">{{@key}}</h4>
          <ul style="overflow:hidden">
            {{#each this}}
              <li style="float:left;width:33%;padding-right: 30px;margin-bottom: 15px;box-sizing: border-box">
                <label class="font-small" style="color:#666" for="{{id}}"><input id="{{id}}" type="checkbox" name="components[{{id}}]" />{{name}}</label>

                <ul class="list list-bullet">
                  {{#each variants}}
                    <li>
                      <a href="{{href}}">{{name}}</a>
                    </li>
                  {{/each}}
                </ul>
              </li>
            {{/each}}
          </ul>
        {{/each}}

        <hr>

      {{/each}}
    {{/with}}
  </div>

  <div class="panel panel-indent-narrow">
    <p>Download a build containing the assets selected above.</p>
    <p>Note that ticking a component will automatically include dependencies of that component in the build even if it is not explicitly ticked here.</p>

    <div class="form-group">
      <input type="submit" class="button" value="Generate build" />
    </div>

    <div class="form-group">
      <label class="form-label" for="build-url-2">Build URL</label>
      <input class="form-control build-url" type="text" id="build-url-2">
      <p class="form-hint">Make GET requests to this URL in your build pipeline to return a tarball of assets (View <a href="https://github.com/LandRegistry/land-registry-elements-examples/">land-registry-elements-examples</a> for more examples of how to integrate into your build - this is just one of several options)</p>
      <p class="form-hint">Note: you may wish to include an <code>assetPath</code> parameter on the query string to match the URL where assets will be accessible in your application</p>
    </div>
  </div>

</form>
