<h2 class="heading-large">Land Registry pattern library</h2>
<a href="https://travis-ci.org/LandRegistry/land-registry-elements"><img src="https://travis-ci.org/LandRegistry/land-registry-elements.svg" alt="" /></a>
<p>This pattern library builds upon the foundations set out in <a href="http://govuk-elements.herokuapp.com/">http://govuk-elements.herokuapp.com/</a> to provide a set of Land Registry specific patterns.</p>
<p>These <s>are</s> <em>will be</em> of production quality and the intention is that the build output from this repository be used as the base for production frontends.</p>
{{!-- <a href="/build" class="button">Download assets</a> --}}

<br><br>

<details class="readme">
  <summary>Readme</summary>
  <div class="panel panel-border-narrow">
    {{#markdown}}{{readme}}{{/markdown}}
  </div>
</details>

<hr>

<form action="/build" method="GET">
  <input type="submit" class="button" value="Generate build" />
  <p class="form-hint">Download a build containing the assets selected below.</p>
  <p class="form-hint">Note that ticking a component will automatically include dependencies of that component in the build even if it is not explicitly ticked here.</p>

  <div class="form-group">
    {{#with components}}
      {{#each this}}
        <h3 class="heading-medium">{{@key}}</h3>

        {{#each this}}
          <h4 class="heading-small">{{@key}}</h4>
          <ul style="overflow:hidden">
            {{#each this}}
              <li style="float:left;width:33%;padding-right: 30px;margin-bottom: 15px">
                <label class="font-small" style="color:#666" for="{{id}}"><input id="{{id}}" type="checkbox" name="components[{{id}}]" />{{name}}</label>

                <ul class="list list-bullet">
                  {{#each variants}}
                    <li>
                      <a href="{{href}}">{{name}}</a>
                    </li>
                  {{/each}}
                </ul>
              </li>
            {{/each}}
          </ul>
        {{/each}}

        <hr>

      {{/each}}
    {{/with}}
  </div>

  <input type="submit" class="button" value="Generate build" />
</form>
