{{{ topOfPage }}}
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="{{ htmlLang }}"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>{{ pageTitle }}</title>

    <script type="text/javascript">
      (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
    </script>

    <!-- Gov uk template css -->
    <!--[if gt IE 8]><!--><link href="{{{ assetPath }}}stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="{{{ assetPath }}}stylesheets/govuk-template-ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="{{{ assetPath }}}stylesheets/govuk-template-ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="{{{ assetPath }}}stylesheets/govuk-template-ie8.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <link href="{{{ assetPath }}}stylesheets/govuk-template-print.css" media="print" rel="stylesheet" type="text/css" />
    <!-- End Gov uk template css -->

    <!-- Elements css -->
    <!--[if gt IE 8]><!--><link rel="stylesheet" type="text/css" media="all" href="/stylesheets/elements.css" /><!--<![endif]-->
    <!--[if IE 6]><link rel="stylesheet" type="text/css" media="all" href="/stylesheets/elements-ie6.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" media="all" href="/stylesheets/elements-ie7.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" media="all" href="/stylesheets/elements-ie8.css" /><![endif]-->
    <!-- End Elements css -->

    <!--[if lte IE 11]><script src="{{{ assetPath }}}javascripts/promise.js"></script><![endif]-->
    <!--[if lte IE 8]><script src="{{{ assetPath }}}javascripts/polyfills-ie8.js"></script><![endif]-->
    <!--[if IE 8]><link href="{{{ assetPath }}}stylesheets/fonts-ie8.css" media="all" rel="stylesheet" type="text/css" /><![endif]-->

    <link rel="shortcut icon" href="{{{ assetPath }}}images/favicon.ico" type="image/x-icon" />

    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{{ assetPath }}}images/apple-touch-icon-152x152.png">
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{{ assetPath }}}images/apple-touch-icon-120x120.png">
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{{ assetPath }}}images/apple-touch-icon-76x76.png">
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="{{{ assetPath }}}images/apple-touch-icon-60x60.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{{{ assetPath }}}images/opengraph-image.png">

    <meta name="format-detection" content="telephone=no">

    {{{ head }}}
  </head>

  <body class="{{ bodyClasses }}">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {{> elements/govuk/header }}

    <main id="content" role="main">
      {{{ content }}}
    </main>

    {{> elements/govuk/footer }}

    {{!-- <div id="global-app-error" class="app-error hidden"></div> --}}

    <script src="{{{ assetPath }}}javascripts/govuk-template.js" type="text/javascript"></script>

    {{{scripts}}}
  </body>
</html>
