{{{ topOfPage }}}
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="{{ htmlLang }}"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>{{ pageTitle }}</title>

    <!-- Gov uk template css -->
    <!--[if gt IE 8]><!--><link href="{{{ assetPath }}}stylesheets/govuk-template.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="{{{ assetPath }}}stylesheets/govuk-template-ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="{{{ assetPath }}}stylesheets/govuk-template-ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="{{{ assetPath }}}stylesheets/govuk-template-ie8.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <link href="{{{ assetPath }}}stylesheets/govuk-template-print.css" media="print" rel="stylesheet" type="text/css" />
    <!-- End Gov uk template css -->


    <!-- Elements css -->
    <!--[if gt IE 8]><!--><link rel="stylesheet" type="text/css" media="all" href="/stylesheets/elements.css" /><!--<![endif]-->
    <!--[if IE 6]><link rel="stylesheet" type="text/css" media="all" href="/stylesheets/elements-ie6.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" media="all" href="/stylesheets/elements-ie7.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" media="all" href="/stylesheets/elements-ie8.css" /><![endif]-->
    <!-- End Elements css -->

    <!--[if lte IE 11]><script src="{{{ assetPath }}}javascripts/polyfills-promise.js"></script><![endif]-->
    <!--[if lte IE 9]><script src="{{{ assetPath }}}javascripts/polyfills-ie9.js"></script><![endif]-->
    <!--[if lte IE 8]><script src="{{{ assetPath }}}javascripts/polyfills-ie8.js"></script><![endif]-->
    <!--[if IE 8]><link href="{{{ assetPath }}}stylesheets/fonts-ie8.css" media="all" rel="stylesheet" type="text/css" /><![endif]-->


    <link rel="shortcut icon" href="{{{ assetPath }}}images/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="{{{ assetPath }}}images/gov.uk_logotype_crown.svg" color="#0b0c0c">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{{ assetPath }}}images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{{ assetPath }}}images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{{ assetPath }}}images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" href="{{{ assetPath }}}images/apple-touch-icon-60x60.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{{{ assetPath }}}images/opengraph-image.png">

    {{{ head }}}
  </head>

  <body class="{{ bodyClasses }}">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {{> elements/govuk/header }}

    <main id="content" role="main" tabindex="-1">
      {{{ content }}}
    </main>

    {{> elements/govuk/footer }}

    <script src="{{{ assetPath }}}javascripts/govuk-template.js"></script>

    {{{scripts}}}
  </body>
</html>
