<main id="content" role="main">



  <h2 class="heading-large">Components</h2>
  {{#with components}}
    {{#each this}}
      <h3 class="heading-medium">{{@key}}</h3>

      {{#each this}}
        <h4 class="heading-small">{{@key}}</h4>
        <ul style="overflow:hidden">
          {{#each this}}
            {{#each variants}}
              <li style="float:left;width:33%">
                <a href="{{href}}"><strong>{{../name}}:</strong> {{name}}</a>
              </li>
            {{/each}}
          {{/each}}
        </ul>
      {{/each}}

      <hr>

    {{/each}}
  {{/with}}

  {{!-- <h2 class="heading-medium">Pages</h2>
  {{#with pages}}
    <ul>
      {{#each this}}
        <li>
          <a href="{{href}}">{{name}}</a>
        </li>
      {{/each}}
    </ul>
  {{/with}} --}}
</main>
