<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/ui/css/style.css" />
  </head>
  <body>

    <h2>Components</h2>
    {{#with components}}
      {{#each this}}
        <div style="width:33%;float:left">
        <h3>{{@key}}</h3>

        {{#each this}}
          <h4>{{@key}}</h4>
          <ul>
            {{#each this}}
              <li>
                <strong>{{name}}:</strong>
                <ul>
                  {{#each variants}}
                    <li><a href="{{href}}">{{name}}</a></li>
                  {{/each}}
                </ul>
              </li>
            {{/each}}
          </ul>
        {{/each}}

        </div>
      {{/each}}

      <div style="clear:both"></div>
    {{/with}}

    <h2>Pages</h2>
    {{#with pages}}
      <ul>
        {{#each this}}
          <li>
            <a href="{{href}}">{{name}}</a>
          </li>
        {{/each}}
      </ul>
    {{/with}}

  </body>
</html>
