<main id="content" role="main">

  <h2 class="heading-large">Land Registry pattern library</h2>
  <p>This pattern library builds upon the foundations set out in <a href="http://govuk-elements.herokuapp.com/">http://govuk-elements.herokuapp.com/</a> to provide a set of Land Registry specific patterns.</p>
  <p>These <s>are</s> <em>will be</em> of production quality and the intention is that the build output from this repository be used as the base for production frontends.</p>
  <a href="/build" class="button">Download assets</a>

  {{#with components}}
    {{#each this}}
      <h3 class="heading-medium">{{@key}}</h3>

      {{#each this}}
        <h4 class="heading-small">{{@key}}</h4>
        <ul style="overflow:hidden">
          {{#each this}}
            <li style="float:left;width:33%;padding-right: 30px;margin-bottom: 15px">
              <h5 class="font-xsmall" style="color:#666">{{name}}</h5>

              <ul>
                {{#each variants}}
                  <li>
                    <a href="{{href}}">{{name}}</a>
                  </li>
                {{/each}}
              </ul>
            </li>
          {{/each}}
        </ul>
      {{/each}}

      <hr>

    {{/each}}
  {{/with}}

</main>
